#ind {
    background-color: black;
    font-family: arial;
    color: white;
    text-align: center; 

}

#vid1 {
    background-color: black;
    font-family: arial;
    color: white;
    font-weight: bold;
    text-align: center;
}

#vid2 {
    background-color: black;
    font-family: arial;
    color: white;
    font-weight: bold;
    text-align: center;
}

#vid3 {
    background-color: black;
    font-family: arial;
    color: white;
    font-weight: bold;
    text-align: center;
}

#vid4 {
    background-color: black;
    font-family: arial;
    color: white;
    font-weight: bold;
    text-align: center;
}



